<%- include("header") -%>
<div>
  <h2 class="spacer">Contact me!</h2>
  <h4 class="disclaimer">If you would like to get in contact with me, feel free to fill out the form below. This
    will add your information into my database. If you do not want your information saved, you can
    contact me via my email address available by clicking the mail icon on the bottom of this page. </h4>

</div>


<div class="container py-4" id="second">
  <div class="alertBox">
    <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
    <div class="alert" role="alert">
      <img src="images/icon-error.svg" class="errorIcon" alt="error" />
      <%= error.msg %>
    </div>
    <% }) %>
    <% } %>
  </div>

  <form id="contactForm" method="post">
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" name="name" type="text" value="<%= data.name %>">
    </div>
    <div class="mb-5 pb-5">
      <label class="form-label" for="emailAddress">Email Address</label>
      <input class="form-control" id="emailAddress" name="email" type="email" value="<%= data.email %>">
    </div>
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" id="message" type="text" name="message" placeholder="Leave me a message" style="height: 10rem;"></textarea>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
  </form>
</div>
<h4 class="spacer">Local resident of Lake Stevens </h4>
<div class="spacer">
 

  <iframe width="60%" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-122.10453987121583%2C47.99092691291412%2C-122.06613063812257%2C48.013525405823316&amp;layer=mapnik" title="Map of Lake Stevens"></iframe>

</div>







<%- include("footer") -%>
